body {
    font-family: "Times new roman", Times, serif;
    margin-left: 220px;
    margin-right: 220px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.container {
    display: flex; /* Enables side-by-side layout */
    align-items: center; /* Aligns the image and text vertically */
    justify-content: flex-start; /* Ensures content starts from the left */
    width: 100%; /* Ensures it spans full width */
    flex-direction: row-reverse; /* Reverses the order: image on right, text on left */
}

/* Contact information styling */
#contact {
    max-width: 300px; /* Adjusts the width of the contact section */
    text-align: left; /* Keeps text aligned to the left */
    align-self: flex-start;
    margin-right: auto;
}

#contact p {
    margin: 1;
    padding-bottom: 3px;
}

/* Photo styling */
#photo {
    flex-shrink: 0;
}

#photo img {
    max-width: 200px; /* Adjust the image size */
    height: auto; /* Keeps the aspect ratio */
    display: block; /* Ensures proper alignment */
}

.semafor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.project {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 20px;
    min-height: 250px;
    width: 100%
  }

.projectphotos {
    flex: 0 0 210px;
    justify-content: center;
    min-width: 210px;
    width: 210px;
    flex-shrink: 0;
  }

.projecttext {
    flex: 1;
    margin-left: 20px;
    text-align: left;
    min-width: 400px;
    height: 100%; /* Ensures consistency */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h3 {
    font-size: 25px;
}